# INFO: Django Settings
DJANGO_SECRET_KEY=''
# python
# from django.core.management.utils import get_random_secret_key
# print(get_random_secret_key())

DJANGO_DEBUG=True
SSL_TLS=False

NAME=Wina-Shoutwall

YOUR_DOMAIN_NAME=localhost
DJANGO_ALLOWED_HOSTS=localhost, 127.0.0.1, 10.1.1.224, ${YOUR_DOMAIN_NAME}
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8080, http://127.0.0.1:8080, http://10.1.1.224:8080

# INFO:
#This cannot already be occupied
APP_PORT=8000

# # INFO: Database Configurations
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=db
# DB_USER=user
# DB_PASSWORD=password
# DB_HOST=db
# DB_PORT=5432

# # INFO: Cache Settings
# REDIS_HOST=redis
# REDIS_PORT=6379
