@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

@source "../../../**/*.{html,py,js}";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* INFO: Your Custom Blue */
    --color-primary-50: oklch(97% 0.014 254.604);
    --color-primary-100: oklch(93.2% 0.032 255.585);
    --color-primary-200: oklch(88.2% 0.059 254.128);
    --color-primary-300: oklch(80.9% 0.105 251.813);
    --color-primary-400: oklch(70.7% 0.165 254.624);
    --color-primary-500: oklch(62.3% 0.214 259.815);
    --color-primary-600: oklch(54.6% 0.245 262.881);
    --color-primary-700: oklch(48.8% 0.243 264.376);
    --color-primary-800: oklch(42.4% 0.199 265.638);
    --color-primary-900: oklch(37.9% 0.146 265.522);
    --color-primary-950: oklch(28.2% 0.091 267.935);

    /* INFO: Wina Colors */
    --color-wina-yellow: #fec900;
    --color-wina-black: #212529;
    --color-wina-dark: #343a40;
    --color-wina-light: #f8f9fa;
    --color-wina-blue: #0288d1;
    --color-wina-footer: #90a4ae;
}

:root {
  font-family: 'Barlow', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer base {
  :focus-visible {
    @apply outline-none;
  }
}